---
//import components and layouts
import MainLayout from '../../layouts/MainLayout.astro';
import HeroShot from '../../components/HeroShot.astro';
import Spacer from '../../components/Spacer.astro';
import Button from '../../components/Button.astro';
import Footer from '../../components/Footer.astro';

//import sanity
import { sanityClient } from 'sanity:client';
import { urlForImage } from '../../lib/urlForImage';
import Section from '../../components/Section.astro';
import FullScreenImage from '../../components/FullScreenImage.astro';
import Newsletter from '../../components/Newsletter.astro';
import { CurrentEvent } from '../../components/CurrentEvent.tsx';





export async function getStaticPaths() {
  const workshops = await sanityClient.fetch(`*[_type == "workshop"]`);
  return workshops
    .map((workshop) => {
      return workshop.slug?.current
        ? {
            params: {
              slug: workshop.slug?.current
            },
            props: { ...workshop }
          }
        : null;
    })
    .filter(Boolean);
}

const { title, mainImage, description, date, whatDo, whatDoImage, fullImage, whatGet, forWhom, whatBring } = Astro.props;
---

<MainLayout
title={ title }
description={ description }
opengraph={{
	title:'',
	url:'',
	image:'',
	type:'website',
	description:'',
	locale:'en'
}}
>

<HeroShot 
  heading={ title }
  text={ description }
  img={{
    src:`${urlForImage(mainImage).url()}`,
    alt:''
  }}
  waveImg={{
    src:'/images/wave.svg',
    alt:'A wave as overlay for the background image'
  }}
  cta={{
    href:'/registration-for-workshops',
    text:'Register now'
  }}
/>
<Spacer/>
<div class="bg-third-color  padding-colored-bg">

  <div class="grid grid-3fr  align-center">
      <div>
        <img class="icon" width="50" src="/images/clock.svg" alt="Clock">
        <p class="icon__text">
          <CurrentEvent client:load category="Workshop" slug={Astro.params.slug} />
        </p>
      </div>
      <div>
        <img class="icon" width="50" src="/images/cup.svg" alt="Cup">
        <p class="icon__text">Yes, we will have <br>a snack.</p>
      </div>
      <div>
          <img class="icon" width="35" src="/images/location.svg" alt="Location">
          <p class="icon__text">It takes place at <br>Paphos Green Goddess</p>
      </div>
    </div>

</div>

<div class="bg-white">
<Section>
  <div class="grid  grid-2fr">
    <div class="flex-centered">
      <h2>What we do</h2>
      <p>{ whatDo }</p>
    </div>
    <div>
      <img class="img" src=`${urlForImage(whatDoImage).url()}`/>
      <p class="img-cap  align-right">Participants get hands-on
      </p>
    </div>
  </div>
  </Section>
</div>

<FullScreenImage 
img={{
  src:`${urlForImage(fullImage).url()}`,
  alt:''
}}
/>

<div class="bg-fourth-color  padding-colored-bg">
    <div class="grid  grid-3fr">      
    <div>
      <h2>What you get</h2>
      <p>{ whatGet }</p>
    </div>
    <div>
      <h2>Who should come</h2>
      <p>{ forWhom }</p>
    </div> 
    <div>
      <h2>What to bring</h2>
      <p>{ whatBring }</p>
    </div> 
    </div>
  </div>

<div>
  <Section>
    <div class="grid  grid-2fr  items-align-center">
      <div>
        <h2>Be part of the solution</h2>
        <p>Trust your intuition and tread a path without justifying your choices. Not everyone’s ambitions align, and off-grid yurt life is not for all. But there are smaller, less extreme ways to redress the imbalance threatening our environment and our future. In this small, quiet corner of Paphos we are exploring some of them. Why not join us for the adventure?</p>
        <Button
        button={{
          href:'',
          text: 'Register for the workshop'
        }}
    />
      </div>
      <div>
        <img class="img" src="/images/rachael.webp"/>
        <p class="img-cap  align-right">Rachael Pettus</p>
      </div>
      
    </div>
   
    </Section>
   
</div>
<Newsletter/>
<Footer 
facebook={`https://www.facebook.com/sharer/sharer.php?u=${Astro.url.toString()}`}
linkedIn={`https://www.linkedin.com/shareArticle?mini=true&url=${Astro.url.toString()}`}
/>
</MainLayout>

<style>
  .icon__text {
    font-size: var(--fs-400);
    font-weight: 400;
  }

  .img {
    border-radius: var(--border-radius-img);  ;
  }

  .img-cap {
    font-size: var(--fs-xs);
    margin-top: 8px;
  }
</style>

