---
//import components and layouts
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import Section from "../../components/Section.astro";
import Spacer from "../../components/Spacer.astro";
import Footer from "../../components/Footer.astro";


//import sanity
import { useSanityClient } from 'astro-sanity';

// Fetch the workshops and expand all references to category
const workshops = await useSanityClient().fetch(`*[_type == "workshop"]{
    ...,
    category[]->,
    mainImage{
        asset->{
            _id,
            url
        },
        altTag
    }
}`);
---


<MainLayout
title="Workshops at Paphos Green Goddess"
description="In workshops held at Paphos Green Goddess you learn about permaculture, nature and opportunities to integrate sustainability in your daily life."
opengraph={{
	title:'Workshops at Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/workshops/',
	image:'https://www.paphosgreengoddes.com/images/heroshot-workshops.webp',
	type:'website',
	description:'Learn how to implement permaculture principles',
	locale:'en'
}}
>
<HeroShot 
img={{    
    src:'/images/heroshot-workshops.webp',
    alt:'The founder of Paphos Green Goddess explaining'}}
waveImg={{    
    src:'/images/wave.svg',
    alt:'A wave as overlay for the background image'}}
heading="Learn about permaculture in our workshops in Cyprus"
text="At Paphos Green Goddess we offer workshops with the focus on designs that echoe nature and support sustainability."
cta={{    
    href:'/registration-for-workshops',
    text:'Register for a workshop'}}
/><Spacer />
<div class="bg-white">
<Section
heading="See all our workshops">
{workshops && 
<ul>    
	{workshops.map((workshop) => (
        <div class="workshop__container">        
			<li>           
			{workshop.mainImage && <a href={`/workshops/${workshop.slug.current}`}>
			<img class="workshop__img" src={workshop.mainImage.asset.url} alt={ workshop.mainImage.altTag || '' } /></a>}
			<a href="#" class="workshop__category">{(workshop.category || []).map((c) => <>{c.title} </>)}</a> 
			<a href={`/workshops/${workshop.slug.current}`}>
			<h3 class="workshop__heading">{workshop.title}</h3></a>
			</li>            
			<p class="workshop__text">{workshop.description}</p>
			<a class="workshop__link" href={`/workshops/${workshop.slug.current}`}>See more details</a>       
		</div>
    ))}
</ul>}
</Section>
</div>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/workshops/"
	instagram="https://twitter.com/share?url=https://paphosgreengoddess.com/workshops/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/workshops/"
/>
</MainLayout>

<style>
    a {        
		text-decoration: none;
        color: var(--text-color);
    }

    li {
    	list-style: none;    
	}

    ul {
		display: grid;    
		grid-template-columns: 1fr;
		gap: 6em;    
	}

     
    .workshop__container:hover {  
        cursor: pointer;   
	}

    .workshop__img {
        margin-bottom: 20px;        
		border-radius: var(--border-radius-img);  		
    }

    .workshop__category {        
		text-transform: uppercase;
		font-size: var(--fs-xs);
        color: var(--main-color);  
		font-weight: 500;  
	}

	.workshop__heading {
		margin-bottom: 12px;
	}

    .workshop__text {
        margin-bottom: 2em;    
	}

	.workshop__link {
        background-color: var(--main-color);
        padding: 12px 16px;
        color: #fff;
        border-radius: var(--border-radius);
        text-decoration: none;
        font-size: var(--fs-xs);
        font-weight: 400;
        transition: 0.7s;
    }

    .workshop__link:hover {
        box-shadow: inset 0 -4.25em 0 0 var(--hover-color);
    }

    @media only screen and (min-width: 40em) {
    ul {    
		grid-template-columns: repeat(2, 1fr);
    }    
	}

    @media only screen and (min-width: 60em) {
    ul {   
		grid-template-columns: repeat(3, 1fr);
    }    
	}

</style>